<section id="homepage-hero" class="hero container is-primary">
    <div class="hero-body">
        <div class="columns">
            <!-- Left panel -->
            <div class="column is-5">
                <h1 class="title">{{ .Site.Title }}</h1>
                <h2 class="subtitle">{{ .Site.Params.Tagline }}</h2>
                <a class="button is-medium is-inverted" href="{{ .Site.Params.GithubURL }}">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Source Code</span>
                </a>
            </div>

            <!-- Right panel -->
            <div class="column is-7">
                <figure class="image is-16by9">
                    <img src="{{ .Site.BaseURL}}/images/jumbotron.png" />
                </figure>
            </div>
        </div>
    </div>
</section>