<section id="homepage-hero" class="hero is-medium is-info is-bold">
    <div class="hero-head">
        <nav class="navbar is-fixed-top" id="hero-navbar">
            {{ partial "nav_contents" . }}
        </nav>
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <!-- Left panel -->
                <div class="column is-centered-vertically is-5">
                    <h2 class="title">{{ .Site.Params.Tagline }}</h2>
                    <div>
                        <a class="button is-medium is-light" href="{{ .Site.Params.GithubURL }}" target="_blank">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>Source Code</span>
                        </a>
                    </div>
                </div>

                <!-- Right panel -->
                <div class="column is-7">
                    <figure class="image is-16by9">
                        <img src="{{ .Site.BaseURL}}/images/jumbotron.png" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>