<h2 class="title">{{ .Site.Params.Tagline }}</h2>
<div class="content">
    <p>yuzu is an experimental open-source emulator for the Nintendo Switch from the creators of Citra.</p>
    <p>It is written in C++ with portability in mind, with builds actively maintained for Windows, Linux and macOS.
    The emulator is currently only useful for homebrew development and research purposes.</p>
</div>
<div>
    <a class="button is-medium is-light" href="{{ .Site.Params.GithubURL }}" target="_blank">
        <span class="icon">
            <i class="fab fa-github"></i>
        </span>
        <span>Source Code</span>
    </a>
</div>
