<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}/images/menu.png" alt="{{ .Site.Title }} {{ .Site.Params.Tagline }}">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <!-- TODO: Navbar goes here -->
            <a class="navbar-item{{- if .IsHome }} is-active{{- end }}">
                Home
            </a>
            <a class="navbar-item">
                FAQ
            </a>
            <a class="navbar-item">
                Wiki
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-item">
                    Social

                    <span class="icon">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Discord
                    </a>
                    <a class="navbar-item">
                        IRC
                    </a>
                </div>
            </div>
            <a href="https://github.com/yuzu-emu/yuzu" class="navbar-item">
                GitHub
            </a>
        </div>
    </div>
</div>
