/* Yuzu uses a dark theme by default */
$background: darken($dark, 8);

$navbar-item-color: $white;
$navbar-item-hover-background-color: $black;
$navbar-item-hover-color: $white;

$box-background-color: $info;
$card-background-color: $info;

$text: $white;
$text-light: $white;
$text-strong: $white;

$title-color: $white;
$subtitle-color: $white;

// $link: $primary;
// $link-hover: darken($link, 15);