node_modules/
yarn-error.log

# Binaries
site/hugo
site/hugo.exe

# Hugo generated static website files.
build/
public/
site/public/
.publish/

# Dynamic content imported on deploy.
site/content/wiki/
site/content/game/
site/content/entry/tweet_*
site/static/images/game/icons
site/static/images/game/boxart
!site/static/images/game/boxart/default.png
site/static/images/screenshots0/
site/static/savefiles/
site/resources/_gen/

# Filesystem stuff.
.directory
.DS_Store

/.parcel-cache