$body-background-color: $background;
$footer-background-color: $background;

// Changes the navbar height to match discourse.
$navbar-height: 4rem;

// Allows for larger icons with less padding
$navbar-item-img-max-height: 2.75rem;

// Table background colors should be transparent.
$table-background-color: transparent;