<div class="columns">
    <!-- Left panel -->
    <div class="column is-centered-vertically is-5">
        <h2 class="title">{{ .Site.Params.Tagline }}</h2>
        <div class="content">
            <p>yuzu is an experimental open-source emulator for the Nintendo Switch from the creators of Citra.</p>
            <p>It is written in C++ with portability in mind, with builds actively maintained for Windows, Linux and macOS.</p>
        </div>
        <div>
            <a class="button mr-sm is-medium is-light is-hidden-touch" href="/downloads" target="_blank">
                <span class="icon">
                    <i class="fas fa-arrow-down"></i>
                </span>
                <span>Download</span>
            </a>
            
            <a class="button mr-sm is-medium is-primary is-inverted is-outlined" href="{{ .Site.Params.GithubURL }}" target="_blank">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>Source Code</span>
            </a>
        </div>        
    </div>

    <!-- Right panel -->
    <div class="column is-centered-vertically is-7 is-hidden-mobile">
        <figure class="image">
            {{ partial "inline/heroSvg" }}
        </figure>
    </div>
</div>