{{ define "main" }}
{{ partial "home_hero" . }}

<a name="about"></a>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About Yuzu</h1>
            <div class="content">
                <p>Another blurb about Yuzu.</p>
                <ol>
                    <li>
                        <span class="is-italic">Why are you the way you are?</span>
                        <span>Because, reasons.</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<a name="contribute"></a>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contributing and Donations</h1>
            <div class="content">
                <p>A call to action!</p>
            </div>
        </div>
    </div>
</section>

<a name="updates"></a>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{ range sort .Site.Data.twitter "order" }}
            <div class="column is-one-third">
                {{ partial "widget/tweet.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}