{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <nav aria-label="...">
    <ul class="pager">
 
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a rel="previous" href="{{.Paginator.Prev.URL | absURL}}"><span aria-hidden="true">&larr;</span> Previous</a>
        </li>
      {{ end }}


      {{ if .Paginator.HasNext }}
        <li class="next">
          <a rel="next" href="{{.Paginator.Next.URL | absURL}}"><span aria-hidden="true">&rarr;</span> Next</a>
        </li>
      {{ end }}


    </ul>
  </nav>
{{ end }}
