// Center a column's content vertically.
.columns .column.is-centered-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Used to smoothly change background colors when transitioning on the homepage.
.navbar {
    transition: background-color 0.2s ease;
}
.navbar-logo { height: 32px; }
.hero .navbar.is-freestanding {
    background: $navbar-background-color;
}

// For call to action heros, we want to style them on hover.
.hero .column:hover .is-actionable {
    color: #969696;
}