$body-background-color: $background;
$footer-background-color: $background;

// Changes the navbar height to match discourse.
$navbar-height: 64px;

// Allows for larger icons with less padding
$navbar-item-img-max-height: 2.75rem;