/* 1. Import the initial variables */
@import "./node_modules/bulma/sass/utilities/functions.sass";
@import "./node_modules/bulma/sass/utilities/initial-variables.sass";

/* 2. Set the derived variables */
@import "./yuzu_before_derived.scss";
@import "./node_modules/bulma/sass/utilities/derived-variables.sass";
@import "./yuzu_after_derived.scss";

/* 3. Misc customization of Bulma */
$body-background-color: $background;
$footer-background-color: $background;

// Changes the navbar height to match discourse.
$navbar-height: 64px;

// Allows for larger icons with less padding
$navbar-item-img-max-height: 2.75rem;

/* 4. Import the rest of Bulma */
@import "./node_modules/bulma/bulma.sass";
@import "./shared.scss";
@import "./yuzu.scss";